body {
  background-color: #f0f5f9;
  margin: 0;
}

a:hover{
  text-decoration: none;
  color: #000;
  text-transform: lowercase;
}

h1 {
  font-size: 60px;
  margin: 140px auto 0 auto;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

h2 {
  font-family: 'Indie Flower', cursive;
  margin: 20PX auto 50px auto;
  text-align: center;
  font-size: 70PX
}

h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  color: #3e4149;
}

h4 {
  font-size: 25px;
  margin-bottom: 25PX;
  font-family: 'Indie Flower', cursive;
  color: #3e4149;
}

p {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.navbar {
  background-color: #3e4149;
}

.navbar-brand {
  color: #FFFFFF;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  margin: 7px 30px;
}

.nav-link {
  color: #FFFFFF;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  margin: 7px 14px;
  text-align: center;
}

.collapse {
  padding-left: 18%;
}

.navbar-toggler {
  color: #FFFFFF;
}

.nadpis {
  font-size: 2rem;
  color: #3e4149;
}

.text-medzera {
  margin-bottom: 10px;
  margin-top: 30px;
}

.moje-pokracovanie {
  margin-top: 100px;
}

.ewia {
  width: 50%;
  padding-left: 5%;
}

.paldo {
  width: 44%;

  position: absolute;
}

.worldcup {
  width: 40%;
  margin-top: 1%;
  float: left;
  margin-left: 5%;
}

.moj-zaciatok {
  width: 40%;
  padding-left: 6%;
  padding-top: 6%;
  font-size: 120%
}

.resume {
  margin-left: 50%;
  width: 47%;
  padding-bottom: 20px;
}


.test{
  position: relative;
  	list-style: none;
  	padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
}
.test li:before {
	content: "⋗";
	position: absolute;
	left: 1em;
}
.years{
  font-size:20px;
  margin: 3px auto;
  padding-top: 10px;

}
.resume-text{
  margin-left: 1em;
}
.wip {
  width: 45.2%;
}

.jasna {
  width: 40%
}

.MY-SUCCESSES {
  margin-left: 50%;
}

.moje-videaa {
  text-align: center;
  margin: 100px auto;
}

.my-videos {
  margin-bottom: 60px;
  margin-top: 70px
}
.space-in-text{
  line-height: 2rem;
}
.tabulka {
  text-align: left;
  margin-left: 9%;
  width: 41%;
  float: left;
  margin-bottom: 150px;
}

.tabulka2 {
  text-align: left;
  width: 40%;
  float: left;
  margin-bottom: 150px;
  margin-left: 10%;
}

.next-season {
  margin-left: 6%;
}

.nextseason-nadpis {
  margin: 2% auto;
}

.future {
  width: 42%;
  padding-top: 2%;
  text-align: left;
  margin-bottom: 18%;
}

.wc {
  width: 48%;
  float: right;
  margin-right: 5%;
  margin-bottom: 10%;
}

.last-container {
  padding-bottom: 3%;
  background-color: #3e4149;
  padding-right: 10%;
  padding-left: 10%
}

.inicialy {
  font-size: 600%;
  font-family: 'Indie Flower', cursive;
  color: #FFFFFF;
  width: 10%;
  position: absolute;
  margin: 0;
  padding-top: 30px;
}

.kontakt {
  text-align: center;
  color: #FFFFFF;
  width: 60%;
  padding-left: 45%;
  padding-top: 40px;
}

.icons {
  text-align: center;
  font-size: 200%;
  color: #FFFFFF;
  width: 60%;
  padding-left: 45%;

}

.icon1 {
  margin: 5px;
}

.icon1:hover{
  color: black;

}

@media (max-width: 1200px) {
  .collapse {
    padding-left: 10%;
  }
}

@media (max-width: 1000px) {
  .p {
    font-size: 0.5rem;
  }

  h2 {
    font-size: 50px;
    margin-top: 80PX;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 40px;
    text-align: center;
  }

  h5 {
    font-size: 23px;
  }

  .first-text {
    width: 90%;
    padding-left: 10%;
    text-align: center;
  }

  .moj-zaciatok {
    width: 90%;
    padding-top: 30%;
  }

  /* MY SUCCESSES */
  .worldcup {
    width: 90%;
    padding-bottom: 10%;
    margin: auto 5%;
  }

  .MY-SUCCESSES {
    padding-top: 20px;
    margin-left: 5%;
  }

  .resume {
    margin-left: 12.5%;
    width: 75%;
  }

  /* MY VIDEOS */
  .tabulka {
    text-align: center;
    margin-bottom: 50px;
    border-spacing: 100px 10px;
    width: 80%;
    margin-left: 13%
  }

  .tabulka2 {
    text-align: center;
    border-spacing: 100px 10px;
    width: 80%;
    margin-left: 13%
  }

  /* ABOUT NEXT SEASON */
  .wc {
    width: 90%;
    margin-right: 7%;
    margin-bottom: 15%;
  }

  .nextseason-nadpis {
    padding-top: 10%;
  }

  .future {
    width: 90%;
    padding-left: 10%;
    text-align: center;
  }

  .inicialy {
    font-size: 400%;
    font-family: 'Indie Flower', cursive;
    color: #FFFFFF;
    width: 10%;
    position: absolute;
    margin: 0;
    padding-top: 30px;
  }

  .kontakt {
    width: 80%;
  }

  .icons {
    width: 80%;
  }
